.container 
{
    
    margin: auto;
}
.input
{
    width:100%
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    /* appearance: none; */
    margin: 0;
}   
