<form #home="ngForm" (ngSubmit)=onSubmit(home.value)>
    <h1>Home Page</h1>
    <div class="container">
        <div class="jumbotron col-sm-4">
            <br>
            <div class="form-group">
                <label for="Subject">
                    <b>Subject:</b>
                </label>
                <select class="form-control" name="subject" id="subject" [(ngModel)]="  " (change)="onChange($event.target.value)" required>
                    <option value="">--SELECT--</option>
                    <option *ngFor="let sub of subjects" value="{{sub.id}}">{{sub.subject_name}}</option>
                </select>
            </div>
            <div class="form-group ">
                <label for="Subjectunit">
                    <b>Units:</b>
                </label>
                <select class="form-control" name="unit" required [(ngModel)]="unit">
                    <option *ngFor="let u of units" value="{{u.unitid}}">{{u.unit_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="qst">
                    <b>No. of Questions:</b>
                </label>
                <br>
                <select class="form-control" name="qst" id="qst" required [(ngModel)]="qst">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="easy">
                        <b>Easy:</b>
                    </label>
                    <br>
                    <input type="number" class="input" placeholder="%" name="easy" id="easy" required [(ngModel)]="easy">

                </div>
                <br>
                <br>
                <div class="col-md-4">
                    <label for="normal">
                        <b>Normal:</b>
                    </label>
                    <br>
                    <input type="number" class="input" name="normal" placeholder="%" id="normal" required [(ngModel)]="normal">

                </div>
                <div class="col-md-4">
                    <label for="Hard">
                        <b>Hard:</b>
                    </label>
                    <br>
                    <input type="number" class="input" placeholder="%" name="hard" id="hard" required [(ngModel)]="hard">

                </div>
                <!-- <div>
                <button [disabled]="!complexity()">validate</button>
            </div> -->
            </div>
            <br>
            <br>
            <div>
                <button class="btn-lg  w3-button w3-black w3-section" [disabled]="(!complexity() || !home.form.valid)">Send</button>
            </div>
        </div>
    </div>
    <!-- <Questionpage></Questionpage> -->
</form>