<form>
    <div class="container form-control">
        <div>
            <label>Number of Question Attended:
                <b>{{final.total_qus}}</b>
            </label>
        </div>
        <div>
            <label>Number of Correct Answer:
                <b>{{final.correct_answers}}</b>
            </label>
        </div>
        <div>
            <label>Number of Wrong Answer:
                <b>{{final.wrong_answers}}</b>
            </label>
        </div>
        <div>
            <label>Pass Percentage:
                <b>{{percent}}%</b>
            </label>
        </div>
    </div>
    <div class="container">
        <h5>Wrong answers with Correct One:</h5>
        <div *ngFor="let res of final.userquestions;let i=index">
            <div class="jumbotron">
                <b>{{i+1}}.)</b> {{res.qustion}}
                <div class="option" style="padding:30px">
                    <div>
                        <b>a.)</b>
                        <label [ngStyle]="getStyle(res.crct_ans,res.user_option,res.option_a)">{{res.option_a}}</label>
                    </div>
                    <div>
                        <b>b.)</b>
                        <label [ngStyle]="getStyle(res.crct_ans,res.user_option,res.option_b)">{{res.option_b}}</label>
                    </div>
                    <div>
                        <b>c.)</b>
                        <label [ngStyle]="getStyle(res.crct_ans,res.user_option,res.option_c)">{{res.option_c}}</label>
                    </div>
                    <div>
                        <div class="corrAns">Answer is:
                            <b>{{res.crct_ans}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>