<div class=" container-fluid form-group">
  <div class="logo">
    <h1>Knowledge</h1>
    <img src="  assets/images/2.gif" alt="QUIZZAPP" height="90" width="100">
  </div>
  <div class="nav nav-tabs" role="tablist">
    <div class="nav-item">
      <a class="nav-link" [routerLink]="['/SignUp']">SignUp</a>
    </div>
    <div class="nav-item ">
      <a class="nav-link" [routerLink]="['/ContactUs']">Contact Us</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>