h1
{
    font-family: century;
}
.nav-tabs
{   
  
    border: 3px solid transparent;
    border-bottom: none;
    background-color: #4696C6;
    margin-top: 4.5px;
    padding: 5px;
    border-radius: 10px;
}
.nav-link
{
    color: black;
}
a:hover
{
color: white;
}
