/* h4
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 13px;
    color:white;

} */
/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
} */
.container 
{
    
    border: 6px outset;
    padding: 20px;
    margin: 10px auto;
    display:static;
    
   
}
.btn-lg
{
    margin-left: 2em;
   background-color:  rgb(247, 115, 97);
}
.cancel
{
    margin-left:2em;
}
.field
{
    color: rgb(233, 77, 56);
}