<form #signup="ngForm" (ngSubmit)="onSubmit(signup.value)" class="fullform" style="padding:32px">
    <div class="container col-sm-5">
        <div class="form-group ">
            <label for="name" class="field">
                <b>Name:</b>
            </label>
            <input type="text" class="w3-input w3-section" placeholder="Enter Username" name="name" id="name" [(ngModel)]="name" required
                minlength="5">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-info">
                <div [hidden]="!name.errors.required">
                    Name is required.
                </div>
                <div [hidden]="!name.errors.minlength">
                    Minimum field value is 5.
                </div>
            </div>
        </div>
        <div class="form-group ">
            <label for="email" class="field">
                <b>E-mail:</b>
            </label>
            <input type="email" class="w3-input  w3-section" placeholder="someone@example.com" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required name="email" id="email" required [(ngModel)]="email">
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                    email is required.
                </div>
                <div [hidden]="!email.errors.pattern">
                    email contains @ symbol
                </div>
            </div>
        </div>
        <div class="form-group ">
            <label for="Mobile" class="field">
                <strong>Mobile:</strong>
            </label>
            <input type="tel" class="w3-input w3-section" (keypress)="press($event)" placeholder="Enter Mobile Number" maxlength="10"
                minlength="10" name="mobile" id="mobile" [(ngModel)]="mobile" required>
            <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)" class="alert alert-info">
                <div [hidden]="!mobile.errors.required">
                    mobile number is required.
                </div>
                <div [hidden]="!mobile.errors.maxlength">
                    maximum 10 number
                </div>
                <div [hidden]="!mobile.errors.minlength">
                    minimum 10 number
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <button type="submit" class="btn-lg  w3-button w3-section form-group" [disabled]="!signup.form.valid" value="submit">submit</button>
            </div>
            <div class="cancel">
                <button type="submit" class="btn-lg  w3-button  w3-section form-group" (click)="clearall(name,email,mobile)">Cancel</button>
            </div>
        </div>
    </div>
</form>