<h1>
    Question Page</h1>
<form #question="ngForm" (ngSubmit)=onSubmit()>
    <h1 style="text-align:center"></h1>
    <div class="container">
        <div class="form-group">
            <label for="question">
                <thead>
                    <h3>Multiple Choice Questions:</h3>
                </thead>
            </label>
            <div *ngFor="let q of qstn;let i=index">
                <b>{{i+1}}.)</b> {{q.qus}}

                <div class="jumbotron">
                    <div class="radio form-group">
                        <label>
                            <input name="{{q.id}}options" type="radio" id="option_a" required value="{{q.option_a}}" [(ngModel)]="q['answers']"> {{q.option_a}}
                        </label>
                    </div>
                    <div class="radio form-group">
                        <label>
                            <input name="{{q.id}}options" type="radio" id="option_b" required value="{{q.option_b}}" [(ngModel)]="q['answers']"> {{q.option_b}}
                        </label>
                    </div>
                    <div class="radio form-group ">
                        <label>
                            <input name="{{q.id}}options" type="radio" id="option_c" required value="{{q.option_c}}" [(ngModel)]="q['answers']"> {{q.option_c}}
                        </label>
                    </div>
                    <div class="container">
                        <label for="Workspace">
                            <b>WorkSpace:</b>
                        </label>
                        <div>
                            <textarea name="workspace" id="workspace" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn-lg  w3-button w3-black w3-section" [disabled]="!question.form.valid" value="Finish">Finish</button>
        </div>
    </div>
    <!-- <nav class="Page navigation example">
        <ul>
            <li class="page-item">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav> -->

</form>