<form #contact="ngForm">
    <div class="contact" style="padding:32px">
        <h3>Contact</h3>
        <input class="w3-input w3-section" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section" type="textarea" placeholder="Comment" required name="Comment">
        <button class="btn-lg  w3-button w3-black w3-section" [disabled]="!contact.form.valid" type="submit">
            SEND
        </button>
    </div>
</form>